# Exclude everything
/*

# Specific includes

## Editorconfig
!.editorconfig

## Build System/Scripts
!/.config/
!NuGet.Config
!Directory.Build.props
!build.sh
!build.ps1
!build.cmd

## Markdowns
!*.md
!LICENSE

## important Git files
!.gitmodules
!.gitignore
!.gitattributes
!.git-blame-ignore-revs
!submodules

## GitHub specific
!.github/

## UnityProject
!UnityProject/
UnityProject/*
!UnityProject/Assets
!UnityProject/Packages
!UnityProject/ProjectSettings
UnityProject/ProjectSettings/*
!UnityProject/ProjectSettings/ProjectSettings.asset
!UnityProject/ProjectSettings/ProjectVersion.txt

## Solution
!UnityNetcodePatcher.sln

### BepInNetcodePatcher Project
!BepInNetcodePatcher/
BepInNetcodePatcher/[Bb]in/
BepInNetcodePatcher/[Oo]bj/

### NetcodePatcher Project
!NetcodePatcher/
NetcodePatcher/[Bb]in/
NetcodePatcher/[Oo]bj/

### BepInNetcodePatcher Project
!NetcodePatcher.BepInEx/
NetcodePatcher.BepInEx/[Bb]in/
NetcodePatcher.BepInEx/[Oo]bj/

### NetcodePatcher.Cli Project
!NetcodePatcher.Cli/
NetcodePatcher.Cli/[Bb]in/
NetcodePatcher.Cli/[Oo]bj/
NetcodePatcher.Cli/[Dd]ist/

### NetcodePatcher.MSBuild Project
!NetcodePatcher.MSBuild/
NetcodePatcher.MSBuild/[Bb]in/
NetcodePatcher.MSBuild/[Oo]bj/

# Explicit exceptions/ignores
**.user
**Backup.csproj