# Exclude everything
/*

# Specific includes

## Build System/Scripts
!/.config/
!NuGet.Config
!Directory.Build.props
!build.sh
!build.ps1
!build.cmd

## Markdowns
!*.md
!LICENSE

## important Git files
!.gitmodules
!.gitignore
!.gitattributes
!.git-blame-ignore-revs

## GitHub specific
!.github/

## Solution
!NetcodePatcher.sln

### NetcodePatcher Project
!NetcodePatcher/
NetcodePatcher/[Bb]in/
NetcodePatcher/[Oo]bj/

### BepInNetcodePatcher Project
!BepInNetcodePatcher/
BepInNetcodePatcher/[Bb]in/
BepInNetcodePatcher/[Oo]bj/

# Explicit exceptions/ignores
**.user